name: staticcheck

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
    paths-ignore:
      - '**/*.md'
      - '**/.gitignore'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: "1.25"
      - name: Ensure go.mod is already tidied
        run: go mod tidy && git diff -s --exit-code go.sum
      - name: Check diff of goimports
        run: |
            go install golang.org/x/tools/cmd/goimports@latest
            goimports -w . && git diff --exit-code
      - name: Install dependencies
        run: go get .
      - name: Run vet
        run: go vet -v ./...
      - name: Setup staticcheck
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          version: "2025.1.1"
          install-go: false
      - name: Run staticcheck
        run: staticcheck ./...
